@import 'bourbon';
@import 'neat';
@import '../style.scss';

.adminContainer {
  &__content {
    background-color: $foregroundWhite;
    &__sheet {
      margin: 20px 69px;
      padding: 22px 29px;
      background-color: $white;
      font-size: 16px;
      @include media($tablet) {
        margin: 20px 39px;
      }
      @include media($mobile) {
        margin: 0;
      }
      h1 {
        margin-bottom: 20px;
      }
    }
  }
}
