<footer class="mdl-mini-footer footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo"><%= Settings.company_name %> Copyright 2017, All Rights Reserved</div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="/terms">Terms & Conditions</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/eula">EULA</a></li>
      <li><a href="mailto:<%= Settings.support_email %>"><%= Settings.support_email %></a></li>
    </ul>
  </div>
</footer>
